@import './borders.scss';
@import './colors.scss';

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hover {
  cursor: pointer;
}

.shadow-hover {
  @extend .hover;
  box-shadow: $shadow-less;
}

.shadow-active {
  box-shadow: none;
}

.transition {
  transition: all .2s linear;
}

.dark-hover-red {
  background-color: $theme-red-dark;
}

.dark-hover-blue {
  background-color: $theme-blue-dark;
}

.dark-hover-green {
  background-color: $theme-green-dark;
}

.dark-hover-grey {
  background-color: $theme-grey-dark;
}
