@import './borders.scss';

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hover {
  cursor: pointer;
}

.shadow-hover {
  @extend .hover;
  box-shadow: $shadow-less;
}

.shadow-active {
  box-shadow: none;
}

.transition {
  transition: all .2s linear;
}
