$theme-green: #78c800;
$theme-green-light: #78c800;
$theme-green-dark: #73bf02;
$theme-grey: #dddddd;
$theme-grey-light: #dddddd;
$theme-grey-dark: #cbcbcb;
$theme-blue: #5fe8d4;
$theme-blue-light: #5fe8d4;
$theme-blue-dark: #50dfca;
$theme-red: #ec653b;
$theme-red-light: #ec653b;
$theme-red-dark: #ed4f21;
