@import url(https://fonts.googleapis.com/css?family=Raleway);

$font: 'Raleway';

$font-size-xs: 8px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
