$dark-gray: #5a5a5a;
$light-gray: #efefef;
$light-red: #d25e3d;//#ff5959;
$light-shadow-gray: rgba(27,31,35,0.15);
$theme-gray: #222;
$theme-blue: #50dfca;
$theme-rust: #d25e3d;

/*
#262626
#1c1c1f
#121314


#1c1c1f
E24E24
#F7CE3E

#11dbc9
*/
