@import '../../styles/variables.scss';

.set {
    //display: inline-flex;
    font-size: 12px;
    background-color: rgba(68,68,68, 1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 5px;

    .set-no {}

    .set-lbl {
        margin: 0 5px;

        &.reps {}

        &.weight {}
    }

    .set-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: inherit;
        border: none;
        border-bottom: 3px solid $light-shadow-gray;
        width: 25px;
        outline: none;

        &.reps {}

        &.weight {}
    }

    .set-divider {
        margin: 0 5px;
    }

    .set-remove {
        margin: 0 5px;
    }
}
