.menu-item {
    list-style-type: none;
    display: inline;
    padding: 3px 10px;
    font-size: 18px;
    transition: all .25s ease-in;
    border-radius: 4px;

    &:hover {
      border-color:white;
      background-color: rgba(0, 0, 0, 0.4);
    }

    a {
        color: white;
        text-decoration: none;
        outline: none;
    }
}
