@import '../../styles/colors.scss';
@import '../../styles/borders.scss';
@import '../../styles/fonts.scss';
@import '../../styles/animations.scss';

.button {
  appearance: none;
  outline: none;
  color: white;
  background-color: white;
  border-radius: $border-radius;
  border: $border-style;
  box-shadow: $shadow-full;
  width: 100%;
  text-align: center;
  padding: 7.5px;
  font-size: $font-size-s;
  font-family: $font;

  @extend .transition;

  &:hover {
    @extend .shadow-hover;
  }

  &:active {
    @extend .shadow-active;
  }

  &.blue {
    background-color: $theme-blue;
    &:hover{
      @extend .dark-hover-blue;
    }
  }
  &.green {
    background-color: $theme-green;
    &:hover{
      @extend .dark-hover-green;
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: $theme-grey;
    &:active {
      box-shadow: $shadow-full;
    }
    &:hover {
      @extend .shadow-active;
    }
  }
}
