@import '../../styles/variables.scss';

.workout {
    background-color: #222;
    color: #8e8e8e;
    background-color: $light-gray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: rgba(239, 239, 239, .7);
        cursor: pointer;
    }

    span{
      flex:8;
    }

    .workout-btn {
        flex: 1;
        border-radius: 5px;
        height: 100%;
        text-align: center;

        &.edit {
        }

        &.delete {

        }

        &:hover {
            color: white;
            color: #525151;
            cursor: pointer;
        }
    }
}
