@import '../../styles/variables.scss';

.workout {
    background-color: #222;
    color: #8e8e8e;
    background-color: $light-gray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;

    &:hover {
        background-color: rgba(239, 239, 239, .7);
        cursor: pointer;
    }

    .workout-btn {
        float: right;
        //color:#222;
        border-radius: 5px;
        margin-left: 5px;
        //width:16px;
        height: 100%;
        margin-top: -6px;
        text-align: center;
        font-size: 20px;

        &.edit {
            font-size: 12px;
            margin-top: 0px;
        }

        &:hover {
            color: white;
            color: #525151;
            cursor: pointer;
        }
    }
}
